<!DOCTYPE html>
<html>
    <head>
        <meta content="text/html; charset=utf-8" http-equiv="content-type">
        <title><%= title %></title>
        <link href="/static/global.css" type="text/css" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <div class="row">
                <% if(navigation.length > 1){ %>
                    <div class="col-md-3">
                        <h1></h1>
                        <ul class="nav nav-stacked nav-pills">
                            <% _.each(navigation, function(nav) { %> <li class="lvl-<%= nav.level %>"><a href="<%= nav.link %>"><%= nav.text %></a></li> <% }); %>
                        </ul>
                    </div>
                <% } %>
                <div class="col-md-<% if(navigation.length > 1){ %>9<% }else{ %>12<% } %>">
                    <%= content %>
                </div>
            </div>
        </div>
    </body>
</html>
